{% extends "master.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="product">
            <h3>Geography</h3>
            <h5>10.00 Baht</h5>
            <form action="{% url 'course' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="selected_course" value="0">
                <button type="submit" id="checkout-button-geography">Checkout</button>
            </form>
        </div>
    </section>
    <section>
        <div class="product">
            <div class="description">
                <h3>Geology</h3>
                <h5>10.00 Baht</h5>
                <form action="{% url 'course' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="selected_course" value="1">
                    <button type="submit" id="checkout-button-geology">Checkout</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
