{% extends "master.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'sign-up.css' %}">
    <div class="flex-container ">
        <div class="pre-view">
            <img src="{% static 'pic/catGif.gif' %}" alt="cat">
        </div>
        <div class="sign-up">
            <h1>Sign up</h1>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}  
                {{ form }}
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}
